table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

th {
    background-color: #f2f2f2;
}
